<div class="container">
  <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>
  <h3>Recuperação de Senha</h3>

  <br />

  <label>Clique no <strong><a href="{{link}}/{{id}}">link</a></strong> abaixo para alterar sua senha.</label>

  <br />
  <br />

  <h3>Equipe|<strong>NLS</strong></h3>
</div>
